body {
  font-family: Manrope;
}

.header {
  padding: 5vh 10px 0 10px;
}
.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f1f3;
  border-radius: 25px;
  padding: 10px;
}
.header-container-left {
  width: 100%;
  padding: 0 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15vh;
  gap: 15px;
}
.header-container-left__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
}
.header-container-left__title span {
  color: #72a1ff;
}
.header-container-left__text {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -4%;
}
.header-container-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}
.header-container-right-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
