.header {
  padding: 5vh 10px 0 10px;

  &-container {
    width: 100%;
    display: flex;
    background: #f0f1f3;
    border-radius: 25px;
    padding: 10px;

    &-left {
      width: 100%;
      padding: 0 6vw 15vh 6vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }

    &-right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;

      &-frame {
        display: flex;
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    &-container {
      &-left {
        padding: 0 6vw 0 6vw;
      }

      &-right {
        gap: 10px;

        &-frame {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    &-container {
      &-right {
        gap: 10px;
        display: grid;
        grid-template-columns: 30% 70%;

        &-frame {
          width: 100%;

          &__img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .header {
    padding: 0;

    &-container {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "second"
        "left"
        "first";

      &-left {
        grid-area: left;
      }
      &-right {
        display: contents;
      }

      #first {
        grid-area: first;
      }

      #second {
        grid-area: second;
      }
    }
  }
}
