@charset "UTF-8";
.header {
  padding: 5vh 10px 0 10px;
}
.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f1f3;
  border-radius: 25px;
  padding: 10px;
}
.header-container-left {
  width: 100%;
  padding: 0 6vw 15vh 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.header-container-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.header-container-right-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .header-container-left {
    padding: 0 6vw 0 6vw;
  }
  .header-container-right {
    gap: 10px;
  }
  .header-container-right-frame {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .header-container-right {
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 10px 70%;
    grid-template-columns: 30% 70%;
  }
  .header-container-right-frame {
    width: 100%;
  }
  .header-container-right-frame__img {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .header {
    padding: 0;
  }
  .header-container {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 30px auto 30px auto;
        grid-template-areas: "second" "left" "first";
  }
  .header-container-left {
    grid-area: left;
  }
  .header-container-right {
    display: contents;
  }
  .header-container #first {
    grid-area: first;
  }
  .header-container #second {
    grid-area: second;
  }
}
@media (max-width: 540px){
  .header-container-left {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header-container #first {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .header-container #second {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.txtblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15vh 0;
  padding: 0 7vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.txtblock-container {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.txtblock-container hr {
  background-color: #dcdee2;
  height: 1px;
}
.txtblock-container span {
  font-weight: 600;
  font-size: 42px;
}

@media (max-width: 1220px) {
  .txtblock {
    margin: 5vh 0;
    padding: 0 7vw;
  }
}
@media (max-width: 540px) {
  .txtblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding: 10px;
  }
  .txtblock-container {
    width: 100%;
  }
  .txtblock-container span {
    font-size: 24px;
    vertical-align: sub;
  }
}
.op {
  margin: 10px;
}

.container {
  background: #292c2e;
  border-radius: 25px;
  padding: 5vh 7vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
.left p,
.left h3 {
  color: white;
}

.right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
.right p,
.right h3 {
  color: white;
}

.element {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.element-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (0.5fr)[2];
    grid-template-rows: repeat(2, 0.5fr);
  }
  .container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media (max-width: 540px) {
  .op {
    margin: 0;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    border-radius: 25px 25px 0 0;
  }
}
.peculiarities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 15vh 7vw;
}
.peculiarities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 75%;
}
.peculiarities-container-top, .peculiarities-container-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.tit {
  padding: 5vh 7vw;
}

@media (max-width: 1220px) {
  .peculiarities {
    padding: 5vh 7vw;
  }
}
@media (max-width: 991px) {
  .tit {
    padding: 2vh 7vw;
  }
}
@media (max-width: 540px) {
  .peculiarities-container {
    width: 100%;
  }
}
.secondblock {
  background: #292c2e;
  margin: 10px;
  border-radius: 20px;
}
.secondblock h1,
.secondblock h2,
.secondblock h3,
.secondblock p {
  color: #ffffff;
}
.secondblock-container {
  padding: 10vh 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10vh;
}
.secondblock-container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
}
.secondblock-container-top-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.secondblock-container-top-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.secondblock-container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.secondblock-container-bottom-mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.secondblock-container-bottom-mid-frame {
  width: 100%;
}
.secondblock-container-bottom-mid-frame__img {
  width: 100%;
}
.secondblock-container-bottom-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (max-width: 1220px) {
  .secondblock-container {
    padding: 5vh 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991px) {
  .secondblock-container {
    gap: 5vh;
  }
  .secondblock-container_top-left {
    gap: 20px;
  }
}
@media (max-width: 540px) {
  .secondblock {
    margin: 0;
  }
  .secondblock-container-top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .secondblock-container-top-left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    gap: 10px;
  }
  .secondblock-container-top-right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .secondblock-container-bottom-mid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
body {
  font-family: Manrope;
}
body h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
}
body h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}
body h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
}
body h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
body h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}
body .text1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
body .text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
body .text3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #5f5749;
}

.icons {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5vh;
}

.orange {
  color: #ffaa33;
}

.blue {
  color: #72a1ff;
}

.bold {
  color: #5f5749;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.frame .star {
  font-size: 25px;
}
.frame .count {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #d8d8d8;
}
.frame-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.slider {
  display: none;
  width: 100%;
  -webkit-appearance: none;
}
.slider::-webkit-slider-runnable-track {
  height: 3px;
  background: #ededed;
  border-radius: 10px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50%;
  height: 3px;
  background: #a1a1a1;
  border-radius: 10px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}
.block-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
}
.block-frame__img {
  width: 100%;
}

@media (max-width: 1220px) {
  .block-frame__img {
    width: 90%;
  }
}
@media (max-width: 991px) {
  body h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
  }
  body h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
  }
  body h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
  }
  body h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }
  body h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }
  body .text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  body .text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
  body .text3 {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #5f5749;
  }
}
@media (max-width: 800px) {
  body .text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
  body .bold {
    color: #5f5749;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
  }
  .icons img {
    width: 20%;
  }
  .block-frame__img {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .icons {
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .icons img {
    width: 10%;
  }
}
.content {
  background-image: url("/img/линии.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 7vw 30px 7vw;
}
.content-container {
  gap: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.content-container-block {
  padding-top: 3vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.content-container-block-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.content-container-block-frame-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.content-container-block-frame-item__title {
  padding-top: 5vh;
}
.content-container-block-frame-item-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.content-container-block-frame-item-table-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.content-container-block-frame-item-table-card-frame {
  width: 100%;
}
.content-container-block-frame-item-table-card-frame__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-container-block hr {
  width: 100%;
  height: 1px;
  background: #dcdee2;
  margin: 15px 0;
}
.content-container-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.content-container-block-info-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.content-container-block-info-images-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.content-container-block-info-images-one-num {
  background-color: #ffaa33;
  color: white;
  padding: 15px 25px;
  border-radius: 20px;
}
.content-container-block-info-images-one-result {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.content-container-block-info-images-one-result-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.content-container-block-info-images-one-result-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.content-container-block-info-images-one-result-bot-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.content-container-block-info-images-two {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.content-container-block-info-images-two__title {
  color: #d8d8d8;
}
.content-container-block-info-images-two #percent {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -4%;
  vertical-align: bottom;
}
.content-container-block-info-images-two span {
  font-size: 30px;
  font-weight: 600;
  vertical-align: sub;
}
.content-container-block-info-images-two span.orange {
  text-decoration: underline;
}
.content-container-block-info-images-three {
  background: #292c2e;
  border-radius: 15px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.content-container-block-info-images-three__text {
  color: #ffffff;
}
.content-container-block-info-images-three span {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}
.content-container-block-info-gr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-top: 20vh;
}
.content-container-block-info-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.content-container-block-info-news-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.content-container-block-info-news-wraper-frame {
  width: 100%;
}
.content-container-block-info-news-wraper-frame__img {
  width: 100%;
}
.content-container-block-info-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.content-container-block-info-ul__list {
  color: #5f5749;
  list-style-type: disc;
}
.content-container-block-info-ul__list.orange::marker {
  color: var(--Orange, #ffaa33);
}
.content-container-block-info-ul__list.bluee::marker {
  color: #72a1ff;
}

@media (max-width: 1220px) {
  .content {
    background-size: contain;
  }
  .content-container {
    width: 100%;
    -ms-grid-columns: 40% 20px 40%;
    grid-template-columns: repeat(2, 40%);
    gap: 20px;
  }
  .content-container-block-info-news-wraper-frame__img {
    width: 80%;
  }
  .content-container-block-info-gr {
    padding-top: 5vh;
  }
  .content-container-block-info-gr__group {
    width: 35%;
  }
}
@media (max-width: 991px) {
  .content {
    background-size: cover;
  }
  .content-container-block-info-news-wraper-frame__img {
    width: 100%;
  }
  .content-container-block-info-gr__group {
    width: 41%;
  }
}
@media (max-width: 800px) {
  .content {
    background-size: cover;
  }
  .content-container {
    width: 100%;
    -ms-grid-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
  }
  .content-container-block-info-images-two #percent {
    font-size: 20px;
  }
  .content-container-block-info-images-two span {
    font-size: 20px;
  }
  .content-container-block-info-news-wraper-frame__img {
    width: 100%;
  }
  .content-container-block-info-gr {
    padding-top: 5vh;
  }
  .content-container-block-info-gr__group {
    width: 10%;
  }
}
@media (max-width: 540px) {
  .content {
    background-size: cover;
  }
  .content-container {
    gap: 70px;
  }
}
@media (max-width: 540px) {
  .content-container-block-info-images-one {
    gap: 10px;
  }
  .content-container-block-info-images-one span {
    font-size: 15px;
  }
  .content-container-block-info-images-one-result {
    width: 60%;
  }
  .content-container-block-info-images-one-result-top {
    gap: 50px;
  }
  .content-container-block-info-images-one-result-bot {
    gap: 20px;
  }
  .content-container-block-info-images-two {
    gap: 25px;
  }
  .content-container-block-info-images-three {
    gap: 25px;
  }
}