.peculiarities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15vh 7vw;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 75%;

    &-top,
    &-bot {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.tit {
  padding: 5vh 7vw;
}

@media (max-width: 1220px) {
  .peculiarities {
    padding: 5vh 7vw;
  }
}

@media (max-width: 991px) {
  .tit {
    padding: 2vh 7vw;
  }
}

@media (max-width: 540px) {
  .peculiarities {
    &-container {
      width: 100%;
    }
  }
}
